.tree-element{
    background-color: #cee4fa;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px 0;
    width: 100%;
    border: 3px solid #2a8cee;
    border-right: 0;
    box-sizing: border-box;
    position: relative;
    margin: 20px 0;
    @media (min-width: 570px) {
        flex-direction: row;
    }
    .buttons-panel{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        button{
            background-color: #ecf5ff;
            border-radius: 5px;
            color: #409eff;
            border: 1px #b3d8ff solid;
            min-height: 25px;
            cursor: pointer;
            transition: all 0.2s ease-out;
            max-width: 200px;
            width: 100%;
        }
        button:hover{
            background-color: #cee3fc;
        }
        @media (min-width: 570px) {
            width: 20%;
        }
    }
    .attributes-panel{
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        .attribute{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0 10px;
            input{
                width: 100%;
            }
            .delete-button{
                min-width: 30px;
                min-height: 30px;
                padding: 0;
                border: 0;
                background-image: url('../trash.png');
                background-size: cover;
                cursor: pointer;
                transition: all 0.2s ease-out;
            }
        }
        @media (min-width: 570px) {
            margin: 0;
            width: 80%;
        }
    }
    .subelements-panel{
        width: 100%;
        margin: 10px 0;
        .sub-element{
            margin: 20px 0;
            // border: 3px solid #2a8cee;
            // border-right: 0;
            position: relative;
            margin-left: 20px;
        }

        @media (min-width: 570px) {
            margin-left: 20px;
        }
    }
}