.editor{
    position: relative;
    display: flex;
    flex-direction: column;
    .title{
        padding: 0 20px;
        margin: 0;
    }
    .editor-header{
        display: flex;
        background-color: #a6ccf1;
        flex-direction: row;
        align-items: center;
        padding: 20px 20px;
        .buttons-panel{
            display: flex;
            flex-direction: column;
            align-self: flex-start;
            
            border-radius: 5px;
            justify-content: space-around;
            
            @media (min-width: 570px) {
                flex-direction: row;
                width: 50%;
            }
            button{
                border-radius: 5px;
                color: #fff;
                background-color: #238ffa;
                border-color: #238ffa;
                min-height: 25px;
                cursor: pointer;
                margin: 5px 0;
                min-height: 30px;
                transition: all 0.2s ease-out;
                @media (min-width: 570px) {
                    margin: 0;
                }
            }
            button:hover{
                background-color: #57aafd;
            }
        }
    }
    .editor-workspace{
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        background-color: #cee4fa;
        min-height: 90vh;
    }
}